#login-page{
    height: 100vh;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    --switchbg: rgb(209, 206, 200);
}

.card{
    background-color: var(--fg);
    width: 20%;
    height: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 10%;
    position: relative;
    border-radius: 10px;
    z-index: 2;
}

/* label+input,
button+a{
    display: flex;
} */

h2{
    font-size: 2.4rem;
    text-align: center;
}

header>p{
    margin-bottom: 150px;
}

form{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%
}

label{
    align-self: start;
}

input[type="text"]{
    width: 100%;
    height: 2rem;
    margin-bottom: 30px;
}

.switch{
    position: relative;
    outline: solid red 1px;
    width: 100px;
    height: 200px;
    background-color: var(--switchbg);
    perspective: 300px;

}

.switch::before{
    position: absolute;
    content: "";
    width: 110px;
    height: 110px;
    background-color: red;
    left: -5px;
    top: 50%;
    transform: rotateX(-70deg);
}