#home-container {
    height: 86.6vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    /* background-color: rgb(214, 219, 224); */
}

#centre-button button {
    padding: 0.60rem 2rem;
    font-size: 0.7rem;
    text-decoration: none;
    background-color: #009688;
    outline: solid 1px var(--outlinefocus);
    color: aliceblblue;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 100px;
    font-size: 1rem;
    z-index: 1;
    margin: 30px;
    /* font-weight: bold; */
}

#centre-button button:hover {
    color: #009688;
    cursor: pointer;
    background-color: aliceblue;
}

#centre-button h3 {
    padding: 1rem;
}

#centre-button {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

@media only screen and (min-width: 1401px) {
    #centre-button {
        padding: 100px;
        display: flex;
        width: 50vw;
        /* position: relative;
        bottom: 6rem; */
    }
    #home-container {
        height: 91.65vh;
    }
    #centre-button button {
        padding: 0.75rem 5rem;
    }
}

@media only screen and (max-width:1400px) {
    #centre-button {
        color: aliceblue;
        padding: 50px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50vw;
        /* position: relative;
        bottom: 3.3rem; */
    }
    #home-container {
        height: 86.6vh;
    }
    #centre-button button {
    padding: 0.75rem 4rem;
    }
}
