#home-container {
    display: flex;
    flex-direction: column; /* Change to column direction */
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within the container */
    height: 2000px; /* Set a fixed height or remove this for dynamic height */
  }
  
  #left-content {
    padding: 20px;
    color: aliceblue;
    margin-bottom: 20px; /* Add some margin for spacing */
  }
  
  #right-content {
    width: 100%; /* Take up the full width of the container */
    display: flex;
    justify-content: center;
    position: sticky; /* Make it sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1; /* Ensure it's above other content */
  }
  
  /* Adjust button styling as needed */
  #left-content button {
    padding: 0.60rem 2rem;
    font-size: 0.7rem;
    text-decoration: none;
    background-color: #009688;
    outline: solid 1px var(--outlinefocus);
    color: aliceblue;
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 100px;
    font-size: 1rem;
    margin: 10px; /* Reduce the margin for spacing */
  }
  
  #left-content button:hover {
    cursor: pointer;
    background-color: var(--outlinefocus);
  }
  
  h3 {
    padding: 1rem;
  }
  
  canvas {
    height: 100vh; /* Set a fixed height to make it scrollable */
    width: 100%; /* Take up the full width of the container */
  }
  
  /* Media queries for responsiveness */
  @media only screen and (min-width: 1401px) {
    #home-container {
      flex-direction: row; /* Return to row direction on larger screens */
      justify-content: flex-start;
      align-items: flex-start; /* Align content to the top */
    }
  
    #left-content {
      padding: 100px;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    #left-content {
      color: aliceblue;
      padding: 50px;
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 50vw;
    }
  
    #home-container {
      height: 2000px;
    }
  }
  