.nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    font-family: 'Space Grotesk', sans-serif;
    /* background-color:#FAF8F2; */
    padding: 5px;
}

/* .nav-row h2{
    font-size: 2rem;
    color: #009688;
    margin-left: 50px;
    
} */

.nav-row ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-row li{
    list-style: none;
}

.nav-row li:nth-child(3){
    margin-right: 60%;
    
}

.nav-row a{
    font-size: 0.8rem;
    text-decoration: none;
    margin-right: 40px;
    outline: solid 2px var(--darkbeige);
    padding: 8px 40px;
    border-radius: 100px;
    color: var(--beige);
}

.nav-row a:hover{
    cursor: pointer;
    background-color: var(--outline);
    outline: solid 2px var(--beige);
    
}

.nav-row a:visited{
    color: var(--beige);
    
   

}

#logo{
    max-width:250px ;
    max-height: 300px;
    filter: invert();
    margin-left: 20px;
}

/* styling for the three-container - this is the canvas it sits on the page, not the page layout  */



