.nav-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    font-family: 'Space Grotesk', sans-serif;
}

.nav-row h2{
    font-size: 2rem;
    color: whitesmoke;
    margin-left: 50px;
}

.nav-row ul{
    display: flex;
    justify-content: space-evenly;
}

.nav-row li{
    list-style: none;
}

.nav-row li:nth-child(3){
    margin-right: 90%;
}

.nav-row a{
    font-size: 0.7rem;
    text-decoration: none;
    margin-right: 60px;
    outline: solid 2px var(--outline);
    padding: 12px 60px;
    border-radius: 100px;
}

.nav-row a:hover{
    cursor: pointer;
    background-color: var(--outline);
    outline: solid 2px var(--outlinefocus);
    
}

.nav-row a:visited{
    color: whitesmoke;
}