#signup h2{
    font-size: 2.4rem;
    color: #14080E;
    text-align: center;
    padding-top: 100px;

}

#signup header>p{
    margin-bottom: 150px;
}

#signup form{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 23%
}

#signup label{
    font-size: 0.8rem;
    color: #14080E;
    align-self: start;
}

.signup-input{
    width: 100%;
    height: 2rem;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 25px;
    background-color: var(--bg);
    color: whitesmoke;
    border: 1px solid #49475B;
}

#signup button{
    font-size: 0.8rem;
    border: 3px solid #3E8989;
    padding: 10px 25px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--bg);
    color:  #14080E;
    font-family: inherit;
    background-color: #FAF8F2;
}

#signup button:hover{
    background-color: #3E8989;
    border: 1px solid var(--outlinefocus);

}

.lamp{
    position: absolute;
    top: -55%;
    scale: 40%;
}

#right-lamp{
    position: relative;
    filter: brightness(0.2);
}

#rlight{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
    width: 800px;
    height: 300px;
    background: radial-gradient(ellipse at 50% 100px, rgba(255, 255, 235,0.95) 20%, rgba(80,92,103,0) 60%);
}

.error{
    border: solid 1px red;
}
