#questions{
    position: absolute;
    right: 5%;
    top: 2%;
    z-index: 2;
    
}

#qmark{
    user-select: none;
    background-color: #FAF8F2;
    z-index: 10;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    outline: 1px solid var(--outline);
    color: var(--font);
    box-shadow: 0px 3px 2px 2px rgba(0,0,0,0.5);
}

#qmark:hover{
    cursor: pointer;
    background-color: var(--bg);
    outline: 1px solid var(--outlinefocus);

}

#qbox{
    position: absolute;
    display: none;
    left: 50%;
    top: 0;
    width: 400px;
    background: linear-gradient(0deg, rgba(15,13,20,1) 0%, #EDE4D9 0%);
    padding: 10px;
    border-radius: 25px;
    outline: 2px solid var(--outline);
    font-size: 20px;
    text-align: center;
}

#qbox>h3{
    text-decoration:double;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

#example-panoramic{
    width: 100%;
}
