#login{
    position: relative;
}

#login h2{
    font-size: 2.4rem;
    text-align: center;
}

#login header>p{
    margin-bottom: 150px;
}

#login form{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 40%
}

#login label{
    font-size: 0.8rem;
    align-self: start;
}

#login input{
    width: 100%;
    height: 2rem;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 25px;
    background-color: var(--bg);
    color: whitesmoke;
    border: 1px solid var(--outlinefocus);
}

#login button{
    font-size: 0.8rem;
    border: 1px solid var(--outlinefocus);
    padding: 10px 25px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--bg);
    color: whitesmoke;
    font-family: inherit;
}

.lamp{
    position: absolute;
    top: -70%;
    scale: 40%;
}

#left-lamp{
    position: relative;
    filter: brightness(0.2);

}

#llight{
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
    width: 800px;
    height: 300px;
    background: radial-gradient(ellipse at 50% 100px, rgba(255, 255, 235,0.95) 20%, rgba(80,92,103,0) 60%);
}
