:root{
    --bg: hsl(263, 67%, 2%);
    --fg: hsl(244, 11%, 50%);
    --outline: rgba(25,23,30);
    --outlinefocus: rgba(170,171,172);
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

#three-container {
    width: 1800px;
    height: 1200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* styling for the page component - this is on the page where the room lives */
.room {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 70px);
}
